<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment = "script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click", function(e){
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDrinkType = $("#searchDrinkType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="search/" + page + "?searchDrinkType=" + searchDrinkType
            + "&searchBy=" + searchBy + "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>



<div layout:fragment="content">

    <form th:action="@{'/search/' +
    ${drinks.number}}" role="form" method="get" th:object="${drinks}">
        <div class="form-inline justify-content-center" th:object="${drinkSearchDto}">
            <select th:field="*{searchDrinkType}" class="form-control" style="width:auto;">
                <option value="">종류</option>
                <option value="COFFEE">커피</option>
                <option value="ETC">기타</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="cafeNm">카페명</option>
                <option value="menuNm">메뉴 이름</option>
                <option value="drinkType">종류</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary" style="margin-left:3px;">Search</button>
        </div>

        <hr class="my-4">

        <table class="table">
            <thead>
            <tr>
                <td>리뷰아이디</td>
                <td>카페명</td>
                <td>메뉴이름</td>
                <td>종류</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="drink, status: ${drinks.getContent()}">
                <td th:text="${drink.id}"></td>
                <td>
                    <a th:href="'item/'+${drink.id}"
                       th:text="${drink.cafeNm}"></a>
                </td>
                <td>
                    <a th:href="'item/'+${drink.id}"
                       th:text="${drink.menuNm}"></a>
                </td>
                <td th:text="${drink.drinkType==T(kr.sujin.cafe.constant.DrinkType).DESSERT}? '디저트':'음료'"></td>
                <td th:text="${drink.createdBy}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(drinks.number/maxPage)*maxPage + 1}, end=(${(drinks.totalPages == 0) ? 1 : (start + (maxPage - 1) < drinks.totalPages ? start + (maxPage - 1) : drinks.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${drinks.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${drinks.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${drinks.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${drinks.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${drinks.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>
    </form>

</div>

</html>